body{
    background-color: #dfaaaa;
    font-family: Arial, sans-serif;
    color: black
}
.pioLogo{
    height: 150px;
}
h1,h2{
    color: #302c7e;
    text-align: center;
}
h2{
    text-align: left;
}
.titulo{

}
form{
    background-color: #302C7E;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}